body{
	font-family: "Microsoft Yahei";
}
.month {
    display: inline-block;
    position: absolute;
    margin-left: 5px;
    border:1px solid #d8d8d8;
    padding: 5px;
}
.input_list{
	display: inline-block;
	list-style: none;
	padding: 0;
	margin: 0;
	border-radius: 2px;
	border-bottom:1px solid #d8d8d8;
	width: 203px;
	font-size: 0;
	margin-bottom: 10px;
}
.input_list li{
	display: inline-block;
}
.input_num{
	width: 50px;
	height: 50px;
	border:none;
	text-align: center;
	box-sizing: border-box;
}
.input_num:hover{
	background-color: #76c5f0;
}
.active{
	background-color: #3bb3c3;
	color: #fff;
}
.active:hover{
	background-color: #3bb3c3;
}
input[type="text"]:disabled{
	background-color: #eceaf5;
}
input[type="text"]:disabled:hover{
	background-color: #eceaf5;
}
.btn_box{
	text-align: center;
}
.btn_box input{
	background-color: #74c5f0;
	border:1px solid #74c5f0;
	color: #fff;
	padding: 5px 10px;
	margin-right: 10px;
	font-family: "Microsoft Yahei";
	margin-bottom: 5px;
	border-radius: 2px;
}
.btn_box input:nth-of-type(2){
	margin-right: 0;
}
.btn_box input:hover{
	background-color: #3d8db2;
	color: #fff;
}
